.line-style{
    height: 0px;
    width: 100%;
    border-bottom: 1px solid #D6D6D6;
}

.filter-button {
    background-color: #4C7392;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.clear-filter-button {  
    color: gray;
    text-decoration: none;
    margin-left: auto;
}